name: ci

on:
  schedule:
    - cron: '0 10 * * *' # everyday at 10am
  pull_request:
    branches:
      - master
      - releases/v*
  push:
    branches:
      - master
      - releases/v*

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        version:
          - latest
          - v0.58.3
        extended:
          - false
          - true
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Hugo
        uses: ./
        with:
          version: ${{ matrix.version }}
          extended: ${{ matrix.extended }}
          args: version
